
*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 550px;
    background-color: rgb(128 160 163 / 23%);
    width: 70vw;
    margin: auto;
    padding: 40px;
}
h1 {
    margin-bottom: 20px;
    color: blue;
}
label {
    display: block;
    font-style: italic;
    font-weight: bold;
}
input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    box-shadow: 2px 2px 5px black;
    border: 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
button {
    padding: 5px 8px;
    outline: none;
    border: 0px;
    background-color: green;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

table {
   
    background-color: #0d3549;
    color: white;
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
}
th,td {
    padding: 10px;
}
th,td,tr {
    text-align: center;
}
tr {
    border-bottom: 2px solid white;
}