/*estilo para todos los tags li*/
li {
    width: 100px;
    margin: 100px;
    padding: 4px;
    list-style: none
  }
  
  /*estilos personalizados*/
  .midlaner {background-color: #eeeeee}
  .toplaner {background-color: #ffea00}
  table {
    background-color: rgba(17, 5, 70, 0.659);
    padding: 30px;
    margin: auto;
    color: white;
  }
  table th {
    color: white;
  }